<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfMrqkmlgc0OZG-w1cnNIXAOj8qUqO884</string>
	<key>GCM_SENDER_ID</key>
	<string>332817763245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingApplicationFromYoutube</string>
	<key>PROJECT_ID</key>
	<string>our-chat-f61c7</string>
	<key>STORAGE_BUCKET</key>
	<string>our-chat-f61c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332817763245:ios:20e3d79848db654f826f24</string>
</dict>
</plist>